html[data-theme="dark"], html[data-theme="light"] {
    --pst-color-secondary: #03ad63;
    --pst-color-link: #029957;
    --pst-color-primary: #029957;
}

html[data-theme="light"] {
    --pst-color-background: #f1f1f1!important;
}

html[data-theme="dark"] {
    --pst-color-background: #161c25!important;
}

@media(min-width: 1200px) {
    .bd-sidebar-secondary {
        flex-grow:.75;s
        height: 100vh;
        margin-right: -75%;
        max-height: 100vh;
        max-width: 350px;
        position: fixed;
        right: 0;
        top: 0;
        transition: visibility .2s ease-out,margin .2s ease-out;
        visibility: hidden;
        width: 75%;
        z-index: 1055
    }
}

@media (min-width: 1200px) {
    .bd-main .bd-content .bd-article-container {
        max-width:calc(100% - 2rem)
    }
}

@media (min-width: 992px) {
    .search-button {
        display:flex!important
    }

    .search-button-field {
        display: none
    }
}


@media(min-width: 1200px) {
    .sidebar-toggle.secondary-toggle {
        display:flex!important
    }
}

.bg-dark {
    background-color: #029957!important;
}

.sd-card-header {
    color: white!important;
}

.bd-sidebar {
  scrollbar-width: none!important;
}

.bd-main {
  scrollbar-width: none!important;
}